<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<!--     <link rel="apple-touch-img/logo-precomposed" href="/otter-pop/img/logo.jpg">
    <link rel="apple-touch-img/logo" href="/otter-pop/img/logo.jpg">
    <link rel="apple-touch-img/logo" sizes="72x72" href="/otter-pop/img/logo.jpg">
    <link rel="apple-touch-img/logo" sizes="114x114" href="/otter-pop/img/logo.jpg"> -->

    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.baseurl }}">
    <link href="img/logo.jpg" rel="shortcut icon">
</head>